.venv
mlflow/artifacts/*/*
mlops/*__pycache__
mlops/*.file_versions
mlops/*.ssh_tunnel
.ipynb_checkpoints/
mage_data/mlops/.cache/
mage_data/mlops/.operation_history/
mage_data/mlops/pipelines/*/.logs
mage_data/mlops/pipelines/*/.variables